@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Poppins, Helvetica, Arial;
  margin: 0;
}

body {
  background-color: rgb(247, 245, 255);
}

h1 {
  font-family: "Press Start 2P", system-ui;
  @apply text-2xl sm:text-base md:text-lg my-3;
}

h2 {
  @apply font-semibold text-lg sm:text-sm md:text-base text-slate-600 ml-1;
}

p,
span,
input,
textarea,
button {
  @apply text-base sm:text-xs md:text-sm text-slate-600;
}

.gradient-background {
  background: linear-gradient(329deg,#2e1065, #020617, #1e1b4b, #3b0764);
  background-size: 250%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}